body {
  margin: 0px;
}
.nav {
  color: white;
  /* background-color: blue; */
  padding: 4em;
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  gap: 2em;
}
.footer {
  background-color: rgb(15, 15, 15);
  color: white;
  margin: 0;
}
.footer-pages {
  list-style-type: none;
}
